.fav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #404040;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #404040;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.fav-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: #404040;
  border: 1px solid #404040;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.fav-item button:hover,
.fav-item button:active {
  background-color: #bfbfbf;
  color: #404040;
}
